@import 'reset';
@import '_toolkit/all';
@import 'variables';
@import 'themes';
@import 'components';

body {
  font-family: var(--font_face-main);
  font-size: var(--size-pica);
  line-height: 1.6em;
  color: var(--color-foreground);
  background: var(--color-background);
}

*:focus {
  outline: 0.25rem solid hotpink;
}

.border {
  border: 0;
  outline-width: var(--border_size, 0.0625rem);
  outline-style: solid;
  outline-color: var(--border_color, silver);
}

.shadow {
  box-shadow: var(--shadow-x, 0.125rem) var(--shadow-y, 0.125rem) var(--shadow-spread, 0.125rem) var(--shadow-blur, 0.125rem) var(--shadow-color, rgba(0, 0, 0, 0.15))
}

.spacing {
  padding-top: var(--spacing, 5vh);
  padding-bottom: var(--spacing, 5vh);

  &-narrow {
    padding-top: var(--size-demipica);
    padding-bottom: var(--size-demipica);
  }
}

.page-section {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

pre {
  font-family: var(--font_face-code);
  font-size: var(--size-brezier);
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--color-foreground);
  max-width: 100%;
  overflow: auto;
}