.hero {
  position: relative;
  width: 100%;

  &.full-bleed {
    height: 50vh;
  }

  &.thumbnail {
    height: 20rem;
  }

  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.3);

    &.flex {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      .wrapper {
        width: 100%;
        padding: var(--grid_gap, 1em);

        * {
          line-height: 1.5em;
        }
      }
    }
  }
}